<!DOCTYPE html>
<html>
<head>
  <title>Primeiro Programa com Vue</title>

  <style>
    .box {
      background-color: blue;
      height: 200px;
      width: 200px;
    }
    .box.two {
      background-color: red;
    }
    .box.three {
      background-color: black;
    }
    [v-cloak] {
      display: none;
    }
    input {
      margin: 5px;
      display: block;
    }
  </style>
</head>
<body>
  <div id="app" v-cloak>
    <login-form />
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const app = Vue.createApp({
      data: () => ({
        greeting: 'oi wolfi from vue',
        isVisible: false,
      }),
      methods: {
        toggleBox() {
          this.isVisible = !this.isVisible;
        },
        greet(greeting) {
          console.log(greeting);
        },
      },
    });

    app.component('login-form', {
      template: `
        <form @submit.prevent="handleSubmit">
          <h2>{{ title }}</h2>
          <custom-input
            v-for="(input, i) in inputs"
            :key="i"
            v-model="input.value"
            :label="input.label"
            :type="input.type"
          />
          <button type="submit">Login</button>
        </form>
      `,
      components: ['custom-input'],
      data() {
        return {
          title: 'Login Form',
          inputs: [
            {
              label: 'Name',
              value: '',
              type: 'text',
            },
            {
              label: 'Email',
              value: '',
              type: 'email',
            },
            {
              label: 'Password',
              value: '',
              type: 'password',
            },
          ],
        };
      },
      methods: {
        handleSubmit() {          
          console.log(this.inputs[0]);
        },
      }
    });
    
    app.component('custom-input', {
      template: `
        <label>
          {{ label }}
          <input :type="type" v-model="inputValue" />
        </label>
      `,
      props: ['label', 'type', 'modelValue'],
      computed: {
        inputValue: {
          get() {
            return this.modelValue;
          },
          set(value) {
            this.$emit('update:modelValue', value);
          },
        },
      },
    });

    app.mount('#app');
  </script>
</body>
</html>